/* Embeddings.module.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 90%;  /* Adjust as needed */
    overflow: auto;
    border: 1px solid #999999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;  
}

.title {
    margin-bottom: 50px;  /* Adjust the value to create the amount of space you want */
}

.tableContainer {
    overflow-x: auto;
}

/* Styles for screens that are 768px or larger */
@media (min-width: 768px) {
    .table {
        width: 60%;
    }
}

.table th,
.table td {
    padding: 0.5em;
    border: 1px solid #999999;
    display: table-cell;
}

/* Styles for screens smaller than 768px */
@media (max-width: 768px) {
    .table th {
        display: none;  /* Hide headers on small screens */
    }

    .table td {
        display: block;  /* Display cells as blocks */
        width: auto;
        text-align: right;  /* Align text to the right */
    }

    .table td:before {
        content: attr(data-label);  /* Insert the data label before the cell content */
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.table th {
    background-color: #e3e3e3;
}

.table tr:hover {
    background-color: #f3f3e3;
}

.table a {
    color: #000; /* Initial color */
    transition: color 0.3s ease; /* Transition effect */
}

.table a:hover {
    color: #0099ff; /* Color on hover */
}



